@{
    ViewData["Title"] = "Feedback Detail";
}
@using ApplicationFMS.Handlers.Feedbacks.Queries.GetPublicFeedbackDetail
@model ApplicationFMS.Handlers.Feedbacks.Queries.GetPublicFeedbackDetail.GetPublicFeedbackDetailVm

<div class="row match-height">

    <div class="col-lg-6 col-md-6 col-12">
        <div class="card card-apply-job">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-1">
                    <div class="d-flex flex-row">
                        <div class="avatar me-1">
                            <img src="../../Content/images/portrait/small/user.png" alt="Avatar" width="42" height="42">
                        </div>
                        <div class="user-info">
                            <h5 class="mb-0">@Model.CustomerFirstName</h5>
                            <small class="text-muted">Gönderim Zamanı: @Model.CreatedAt</small>
                        </div>
                    </div>
                    <span class="badge rounded-pill badge-light-primary">@Model.TypeName</span>
                </div>
                <h4 class="apply-job-title">@Model.Title</h4>
                <p class="card-text mb-2">
                    @Model.Text
                </p>
                <div class="d-flex justify-content-around my-2 pt-75">

                    <button type="button" class="swal2-confirm btn btn-primary" aria-label="Thumbs up, great!" style="display: inline-block; " onclick="@("window.location.href='" + @Url.Action("Index", "Home", new { id = "0" }) + "'");">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up font-medium-1 me-50">
                            <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3">

                            </path>
                        </svg>@Model.LikeCount
                    </button>

                    <button type="button" class="swal2-cancel btn btn-outline-danger ms-1" aria-label="Thumbs down" style="display: inline-block; " onclick="@("window.location.href='" + @Url.Action("Index", "Home", new { id = "0" }) + "'");">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down font-medium-1">
                            <path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path>
                        </svg>@Model.DislikeCount
                    </button>

                </div>


                <div class="col-12">
                    <button type="button" class="btn btn-primary waves-effect waves-float waves-light col-12" , onclick="@("window.location.href='" + @Url.Action("Index", "Home", new { id = "0" }) + "'");">
                        Yorum Yap!
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Firmanın Cevapları</h4>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i data-feather="chevron-down"></i></a></li>
                        <li><a data-action="reload"><i data-feather="rotate-cw"></i></a></li>
                        <li><a data-action="close"><i data-feather="x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show" aria-expanded="true">
                <div class="card-body">
                    @if (Model.ReplyList.Count > 0)
                    {
                        foreach (ReplyDto reply in Model.ReplyList)
                        {
                            <p class="card-text font-weight-bolder">
                                @reply.UserName @(reply?.CompanyName != null ? ( "(" + reply.CompanyName + ")") : string.Empty)
                            </p>
                            <small class="text-muted">Gönderim Zamanı: @reply.CreatedAt</small>
                            <p class="card-text">@reply.Text</p>
                            <br />
                        }
                    }
                    else
                    {
                        <p class="card-text">Henüz cevap yok.</p>
                    }
                </div>
            </div>
            <div class="card-footer">
                <span class="text-muted">FMS</span>
            </div>
        </div>
    </div>

</div>

<div class="col-12">
    <div class="card card-user-timeline">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list user-timeline-title-icon"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>
                <h4 class="card-title"> Yorumlar</h4>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical font-medium-3 cursor-pointer"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
        </div>
        <div class="card-body">
            <ul class="timeline ms-50">
                @if (Model.CommentList.Count > 0)
                {
                    foreach (var commentDto in Model.CommentList)
                    {
                        <li class="timeline-item">
                            <span class="timeline-point timeline-point-warning timeline-point-indicator"></span>
                            <div class="timeline-event">
                                <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                    <h6>@commentDto.UserName</h6>
                                    <span class="timeline-event-time me-1">@commentDto.CreatedAt</span>
                                </div>
                                <p>@commentDto.Text</p>

                            </div>
                        </li>
                    }

                }
                else
                {
                    <p class="card-text">Henüz yorum yok.</p>
                }

            </ul>
        </div>
    </div>
</div>

