@model CoreFMS.Entities.Feedback

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shared)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shared)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LikeCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LikeCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DislikeCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DislikeCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAnonym)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAnonym)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsChecked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsChecked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReplied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReplied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSolved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSolved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsArchived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsArchived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sector.SectorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubType.SubTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.TypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectedCompanyEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectedCompanyEmployee.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
